@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    height:100vh;
    font-family: Roboto, sans-serif;
    padding:0px;
    margin:0px;
}

ul{
    display:flex;
    margin: 0px;
    padding: 0px;
    list-style-type:none;
    gap: 16px;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 16px;
}

.section-header-one{
    background-color: #1F2937;
}

.section-three{
    background-color: #E5e7EB;
}

.section-footer{
    background-color: #1F2937;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-links{
    font-size: 18px;
    color: #E5e7EB;
}

.header, .first-section{
    background-color: #1F2937;
    color: #F9FAF8;
}

.header{
    display:flex;
    justify-content: space-between;
}

.first-section{
    display:flex;
}

.title{
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.subtext{
    color:#E5e7EB;
    font-size: 18px;
}

.big-button{
    background-color: #3882F6;
    border: 0px;
    border-radius: 8px;
    color:#F9FAF8;
}

.placeholder{
    background-color: grey;
    color:#E5e7EB;
}

.information{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900px;
}

.item-square{
    height:150px;
    width:150px;
    border: 4px solid #3882F6;
    border-radius:20px;
}

.item{
    color: #636363;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-weight:300;
    font-style:italic;
}

.author{
    font-size: 24px;
    font-weight: 600;
}

.action{
    background-color: #3882F6;
    border-radius: 20px;
}

.call{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.cta{
    color: #F9FAF8;
}

.small-button{
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    background-color:#3882F6;
    color:#F9FAF8
}

.footer{
    color:#F9FAF8;
}